    body {
        padding: 10px;
        background-color: #333;
    }
    
    header {
        margin-top: 30px;
        display: flex;
        background-color: none;
        font-size: 20px;
        font-weight: bold;
        color: #333;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    header span {
        font-weight: bold;
        font-size: 35px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom: 0px;
        color: #1B73BF;
    }
    
    header [logo_container] {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    header img {
        width: 45px;
        height: 43px;
        scale: fill;
        border-radius: 0px;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        margin: 0px;
        align-items: center;
        justify-content: center;
        animation: animate__slideInRight;
    }
    
    .col_mobile {
        display: none;
    }
    
    .col_2 {
        width: 100%;
    }
    
    .login_container {
        width: 100%;
        max-width: 350px;
        padding-top: 8px;
    }
    
    .login_container h1 {
        font-size: 25px;
        font-weight: bold;
        color: #333;
        text-align: center;
        padding-bottom: 0px;
    }
    
    .input_container {
        display: flex;
        flex-direction: row;
        padding: 10px;
        padding-top: 8px;
        padding-bottom: 0px;
        margin: 0px;
        border-radius: 4px;
        border: 1.5px solid #9CBCE1;
        align-items: baseline;
        background-color: #fff;
    }
    
    .inputmainwrapper {
        margin-bottom: 15px;
    }
    
    .input_label {
        font-size: 14px;
        font-weight: 500;
        color: #464343;
        text-align: left;
        padding-bottom: 0px;
    }
    
    .login_container input {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 300;
        color: #333;
        border: none;
        margin-left: 5px;
        background-color: #fff;
    }
    
    .login_container span {
        color: #1B73BF;
    }
    
    .login_container input:focus {
        outline: none;
    }
    
    .btn {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        background-color: #1B73BF;
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }
    
    .wrap_remember_me {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }
    
    input[type="checkbox"] {
        width: 15px;
        height: 15px;
        margin-bottom: 10px;
        color: #1B73BF;
        border: 1.5px solid #9CBCE1;
        margin-left: 5px;
        background-color: #EFF3FF;
    }
    
    label[for="remember_me"] {
        font-size: 14px;
        font-weight: 400;
        color: #464343;
        text-align: left;
        padding-bottom: 0px;
    }
    
    .forgotpassword {
        font-size: 14px;
        font-weight: 400;
        color: #1B73BF;
        padding-bottom: 0px;
        text-decoration: none;
    }
    
    .activate_acct {
        font-size: 15px;
        font-weight: 500;
        color: #1B73BF;
        padding-bottom: 0px;
        text-decoration: none;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .mobile_component {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 8px;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 0px;
        margin: 0px;
        margin-bottom: 10px;
        width: 100%;
        max-width: 350px;
        overflow: hidden;
    }
    
    .barcode {
        display: none;
    }
    
    .instore img {
        width: 120px;
        height: 40px;
        padding-top: 10px;
        padding: 10px;
    }
    
    .acct_wrapper {
        width: 100%;
        background-color: none;
        border-radius: none;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 0px;
        flex-direction: column;
    }
    
    .wp_mobile_dir_btn {
        display: block;
        padding: 10px;
    }
    
    .wp_mobile_dir_btn a {
        color: #000;
    }
    
    .acct_title {
        padding-bottom: 10px;
    }
    
    .acct_title h1 {
        font-weight: 700;
        font-size: 27px;
        padding: 2px 0px 0px 0px;
        color: #2665AF;
        margin-bottom: 4px;
        text-align: left;
    }
    
    .acct_title .sub_title {
        color: #464343;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 5px;
        padding-top: 10px;
    }
    
    .acct_title .descr {
        font-size: 13px;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
        color: #6B6767;
    }
    
    .activate_acct_wrapper input {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 300;
        color: #333;
        border: none;
        margin-left: 5px;
        background-color: #EFF3FF;
    }
    
    .activate_acct_wrapper span {
        color: #1B73BF;
    }
    
    .activate_acct_wrapper input:focus {
        outline: none;
    }
    
    .activate_acct_wrapper input {
        background-color: #fff;
    }
    
    .mobile_fa {
        display: none;
    }
    
    .activate_acct_wrapper figcaption {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0em;
        margin-bottom: 25px;
        color: #ababab;
    }
    
    .foot_note {
        text-align: center;
        width: 100%;
        margin: auto;
        font-size: 13px;
        font-weight: 400;
        padding: 10px;
        padding-top: 15px;
    }
    
    .error_msg {
        font-size: 10px;
    }
    
    .resend_otp {
        display: block;
        padding-top: 25px;
        color: rgb(108, 106, 106);
        font-weight: 500;
    }
    
    .resend_notice {
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-weight: 400;
    }
    
    .resend_btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 8px;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }
    
    .resend_otp a {
        color: #1B73BF;
        padding-left: 20px;
        font-size: 13px;
        font-weight: 600;
    }