{% extends 'base.html' %} {%block title %} {{name}} | Account Activation {% endblock %} {% block body %}
<section>
    <div class="container container_wrapper">
        <div class="acct_wrapper reg">
            <div class="wp_mobile_dir_btn">
                <a href="{{ url_for('auth.login') }}">
                    <li class="fa fa-arrow-left"></li>
                </a>
            </div>
            <div class="reg_title_wrapper">
                <div class="reg_title">
                    Update Student Data
                </div>
                <button class="reset_form">Reset Form</button>
            </div>

            <div class="reg_step">
                <div class="step_title">
                    Student Bio-Data
                </div>
                <div class="step_instr">
                    Fill the form below with the information required. <br> All fields mark(<span>*</span>) must be supply <br>
                    <b>Note:</b> <span>The information supply in this form is accessible to the school, flix and our partner</span>
                </div>
                <div class="reg_form">

                    <div class="wrap_radio_btn">
                        <div class="radio_title">
                            Select Gender
                        </div>
                        <br>
                        <div class="radio_btn">
                            <input type="radio" name="male" value="Male" />
                            <span>Male</span>
                        </div>
                        <div class="radio_btn">
                            <input type="radio" name="female" value="Female" />
                            <span>Female</span>
                        </div>
                    </div>

                    <div class="form_wrap">
                        <label for="surname">Surname/Lastname <span>*</span></label>
                        <input name="surname" type="text" placeholder="Enter Surname" />
                    </div>
                    <div class="form_wrap">
                        <label for="firstname">Firstname <span>*</span></label>
                        <input name="surname" type="text" placeholder="Enter Firstname" />
                    </div>
                    <div class="form_wrap">
                        <label for="othername">Othername</label>
                        <input name="surname" type="text" placeholder="Enter Othername" />
                    </div>

                    <div class="form_wrap">
                        <label for="State">State <span>*</span></label>
                        <select name="state" id="stud_state">
                        <option>Select Your State</option>
                        {% for state in states %}
                        <option value="{{state.state_name}}">{{state.state_name}}</option>
                        {% endfor %}
                    </select>
                        <span class="loaders">Please wait...</span>
                    </div>

                    <div class="form_wrap">
                        <label for="State">LGA <span>*</span></label>
                        <select name="lga" id="stud_lga">
                        <option>Select Your LGA</option>
                    </select>
                    </div>

                    <div class="form_wrap">
                        <label for="othername">email</label>
                        <input name="surname" type="email" placeholder="Enter Email" />
                    </div>


                </div>

            </div>

        </div>
</section>
<script src="{{url_for('static', filename='/js/app.js')}}" async defer></script>
{% endblock body %}